{
    "presets": [
        // [
        //     "@babel/preset-env",
        //     {
        //         "targets": {
        //             "esmodules": true
        //         }
        //     }
        // ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-refresh/babel"
            ]
        },
        "production": {
            "plugins": [
                [ "transform-remove-console", {
                    "exclude": [ "error", "warn" ]
                } ],
                "transform-remove-debugger",
                "@babel/plugin-transform-react-inline-elements",
                "@babel/plugin-transform-react-constant-elements",
                "transform-react-remove-prop-types"
            ]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@app": "./src/app",
                    "@core": "./src/core",
                    "@utils": "./src/core/utils",
                    "@ui-kit": "./src/ui-kit",
                    "@vendors": "./src/vendors",
                    "@server": "./server",
                    "@public": "./public",
                    "@images": "./src/assets/images",
                    "@fonts": "./src/assets/fonts",
                    "@svgs": "./src/assets/svgs",
                    "@test": "./test"
                }
            }
        ],
        "macros", // babel-plugin-macros for libraries, who's use runtime
        "ramda",
        "transform-react-jsx",
        "@loadable/babel-plugin", // for loadable chunks
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime"
    ]
}