./.cache
./.circleci
./.vscode
./dist
./public/**/build/
./node_modules
./coverage
./stats
./test
.git
.gitignore
.dockerignore
./config/docker/**
./config/jest/**
./config/.storybook/**
./logs/**
./.yarn/cache
./.yarn/unplugged
./.yarn/build-state.yml
./.yarn/install-state.gz
./.yarn/sdks
.pnp.cjs
.pnp.loader.mjs
