{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:ramda/recommended",
        "plugin:sonarjs/recommended"
    ],
    "plugins": [
        "arca",
        "align-assignments",
        "react",
        "react-hooks",
        "jsx-a11y",
        "unicorn",
        "ramda",
        "sonarjs"
    ],
    "rules": {
        "unicorn/better-regex": 2,
        "unicorn/empty-brace-spaces": 2,
        "unicorn/escape-case": 2,
        "unicorn/no-array-push-push": 2,
        "unicorn/no-instanceof-array": 2,
        "unicorn/no-lonely-if": 2,
        "unicorn/no-invalid-remove-event-listener": 2,
        "unicorn/no-nested-ternary": 2,
        "unicorn/no-object-as-default-parameter": 2,
        "unicorn/no-unreadable-array-destructuring": 2,
        "unicorn/no-useless-fallback-in-spread": 2,
        "unicorn/no-useless-undefined": 2,
        "unicorn/number-literal-case": 2,
        "unicorn/numeric-separators-style": 2,
        "unicorn/prefer-add-event-listener": 2,
        "unicorn/prefer-array-find": 2,
        "unicorn/prefer-array-some": 2,
        "unicorn/prefer-at": 2,
        "unicorn/prefer-code-point": 2,
        "unicorn/prefer-date-now": 2,
        "unicorn/prefer-dom-node-append": 2,
        "unicorn/prefer-dom-node-dataset": 2,
        "unicorn/prefer-dom-node-remove": 2,
        "unicorn/prefer-dom-node-text-content": 2,
        "unicorn/prefer-export-from": 2,
        "unicorn/prefer-includes": 2,
        "unicorn/prefer-keyboard-event-key": 2,
        "unicorn/prefer-modern-dom-apis": 2,
        "unicorn/prefer-number-properties": 2,
        "unicorn/prefer-object-from-entries": 2,
        "unicorn/prefer-prototype-methods": 2,
        "unicorn/prefer-query-selector": 2,
        "unicorn/prefer-reflect-apply": 2,
        "unicorn/prefer-regexp-test": 2,
        "unicorn/prefer-string-replace-all": 2,
        "unicorn/prefer-string-starts-ends-with": 2,
        "unicorn/prefer-string-trim-start-end": 2,
        "unicorn/prefer-ternary": 2,
        "unicorn/prefer-switch": 2,
        "unicorn/prefer-type-error": 2,
        "unicorn/require-number-to-fixed-digits-argument": 2,
        "unicorn/template-indent": [2, { "indent": 4, "tags": [ "styled" ], "functions": ["div"] }],
        "align-assignments/align-assignments": [2, { 
            "requiresOnly": false 
        } ],
		"no-tabs": [2, { 
				"allowIndentationTabs": true 
        } ],
        "array-callback-return": 0,
        "no-restricted-imports": [2, {
                "paths": [{
                    "name": "styled-components",
                    "message": "Please import from styled-components/macro."
                }],
                "patterns": [
                    "!styled-components/macro"
                ]
        } ],
        "no-console": [2, { 
                "allow": ["warn", "error", "info"] 
        } ],
        "default-param-last": 0,
        "no-sequences": 0,
        "no-bitwise": 0,
        "arrow-parens": 0,
        "no-restricted-syntax": 0,
        "lines-between-class-members": 0,
        "max-len": 0,
        "no-unused-vars": 0,
        "no-redeclare": 0,
        "no-return-await": 0,
        // TODO: React in setup scripts call this error
        "no-use-before-define": 0,
        "no-new": 0,
        "no-plusplus": 0,
        "no-shadow": 0,
        "no-undef": 0,
        "operator-linebreak": 0,
        "linebreak-style": 0,
        "import/no-dynamic-require": 0,
        "global-require": 0,
        "no-useless-escape": 0,
        "no-unneeded-ternary": 0,
        "no-unused-expressions": 0,
        "no-useless-return": 0,
        "computed-property-spacing": 0,
        "class-methods-use-this": 0,
        "react/jsx-uses-react": 0,
        "react/destructuring-assignment": [2, "always"],
        "react/react-in-jsx-scope": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-curly-newline": [2, { "multiline": "consistent", "singleline": "consistent" }],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-equals-spacing": 0,
        "react/jsx-tag-spacing": 2,
        "react/display-name": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-boolean-value": 1,
        "react/jsx-closing-bracket-location": [2],
        "react/jsx-curly-spacing": [2, {"when": "always", "children": true}],
        "react/jsx-handler-names": 2,
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-newline": [2, { "prevent": false }],
        "react/jsx-no-comment-textnodes": 2,
        "react/jsx-no-target-blank": 2,
        "react/jsx-sort-default-props": 2,
        "react/jsx-sort-props": 2,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-uses-vars": 1,
        "react/no-danger": 1,
        "react/no-deprecated": 0,
        "react/no-did-mount-set-state": 0,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-is-mounted": 1,
        "react/no-multi-comp": 0,
        "react/no-set-state": 0,
        "react/no-string-refs": 0,
        "react/no-unknown-property": 1,
        "react/prefer-es6-class": 1,
        "react/prefer-stateless-function": 0,
        "react/prop-types": 0,
        "react/require-extension": 0,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "react/wrap-multilines": 0,
        "import/prefer-default-export": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "indent": [2, 4, {
            "VariableDeclarator": 1,
            "SwitchCase": 1, 
            "ignoredNodes": ["TemplateLiteral > *"]
        } ],
        "consistent-return": 0,
        "comma-dangle": [2, "only-multiline"],
        "template-curly-spacing": [2, "always"],
        "object-curly-spacing": [2, "always"],
        "array-bracket-spacing": [2, "always"],
        "no-multi-spaces": 0,
        "one-var": 0,
        "func-names": 0,
        "function-paren-newline": 0,
        "lines-around-comment": [2, {
                "beforeBlockComment": true,
                "afterBlockComment": false,
                "beforeLineComment": true,
                "afterLineComment": false,
                "allowBlockStart": true,
                "allowBlockEnd": true,
                "allowObjectStart": true,
                "allowObjectEnd": true,
                "allowArrayStart": true,
                "allowArrayEnd": true
        } ],
        "key-spacing": [2, {
            "align": "colon"
        } ],
        "arca/import-align": [2, {
            "collapseExtraSpaces": true
        } ],
        "arca/melted-constructs": 2,
        "no-underscore-dangle": 0,
        "react-hooks/rules-of-hooks": 2,
        "react-hooks/exhaustive-deps": 2,
        "no-useless-computed-key": 0
    },
    "overrides": [ {
        // enable the rule specifically for TypeScript files
        "files": ["*.ts", "*.tsx"],
        "parser": "@typescript-eslint/parser",
        "extends": "plugin:@typescript-eslint/recommended",
        "parserOptions": {
            "project": "./tsconfig.json",
            "ecmaVersion": 11, 
            "sourceType": "module",
            "ecmaFeatures": {
                "jsx": true
            }
        },
        "rules": {
            "@typescript-eslint/explicit-function-return-type": 0,
            "@typescript-eslint/await-thenable": 2,
            "@typescript-eslint/no-non-null-assertion": 0,
            "@typescript-eslint/method-signature-style": [2, "method"],
            "@typescript-eslint/no-extra-non-null-assertion": 2,
            "@typescript-eslint/no-unnecessary-type-constraint": 2,
            "@typescript-eslint/prefer-as-const": 2,
            "@typescript-eslint/consistent-type-assertions": 0,
            "@typescript-eslint/no-for-in-array": 2,
            "@typescript-eslint/no-inferrable-types": 2,
            "@typescript-eslint/prefer-includes": 2,
            "@typescript-eslint/prefer-optional-chain": 2,
            "@typescript-eslint/prefer-string-starts-ends-with": 2,
            "@typescript-eslint/prefer-ts-expect-error": 2,
            "@typescript-eslint/require-array-sort-compare": 2,
            "@typescript-eslint/restrict-plus-operands": 2,
            "@typescript-eslint/sort-type-union-intersection-members": 2,
            "@typescript-eslint/type-annotation-spacing": 2,
            "@typescript-eslint/unified-signatures": 2,
            "@typescript-eslint/no-explicit-any": 0,
            "@typescript-eslint/camelcase": 0,
            "@typescript-eslint/no-var-requires": 0,
            "@typescript-eslint/ban-ts-ignore": 0,
            "@typescript-eslint/explicit-module-boundary-types": 0,
            "@typescript-eslint/ban-ts-comment": 0,
            "@typescript-eslint/ban-types":  [2, {
                "types": {
                    "String": {
                        "message": "Use string instead",
                        "fixWith": "string"
                    }
                    // add other bans
                }
            } ],
            "@typescript-eslint/no-unused-vars": [2],
            "@typescript-eslint/member-delimiter-style": [2, {
                "multiline": {
                    "delimiter": "comma",
                    "requireLast": false
                },
                "singleline": {
                    "delimiter": "comma",        
                    "requireLast": false
                },
                "overrides": {
                    "interface": {
                        "multiline": {
                            "delimiter": "semi",
                            "requireLast": true
                        }
                    }
                }
            }]
        }
    }, {
        "files": ["**/reducer.ts"],
        "rules": {
            "no-param-reassign": 0
        }
    }, {
        "files": ["**/?(*.)+(spec|test).[jt]s?(x)"],
        "plugins": [
            "jest",
            "testing-library"
        ],
        "extends": [
            "plugin:jest/recommended",
            "plugin:testing-library/react"
        ],
        "env": {
            "jest/globals": true
        },
        "settings": {
            "jest": {
                "version": 27
            }
        },
        "rules": {
            "testing-library/await-async-query": 2,
            "testing-library/no-await-sync-query": 2,
            "testing-library/no-debugging-utils": 1,
            "testing-library/no-dom-import": 0,
            "@typescript-eslint/unbound-method": 0,
            "jest/no-alias-methods": 2,
            "jest/consistent-test-it": ["error", {"fn": "it"}],
            "jest/no-deprecated-functions": 2,
            "jest/prefer-comparison-matcher": 2,
            "jest/prefer-called-with": 2,
            "jest/prefer-equality-matcher": 2,
            "jest/prefer-expect-assertions": [2, { "onlyFunctionsWithAsyncKeyword": true }],
            "jest/prefer-expect-resolves": 2,
            "jest/prefer-spy-on": 2,
            "jest/prefer-strict-equal": 2,
            "jest/prefer-to-be": 2,
            "jest/prefer-to-contain": 2,
            "jest/prefer-to-have-length": 2,
            "jest/no-disabled-tests": 1,
            "jest/no-focused-tests": 2,
            "jest/no-identical-title": 2,
            "jest/require-top-level-describe": 2,
            "jest/valid-expect": 2
        }
    } ]
}
