/node_modules/
/dist/
/views/
/stats/
/coverage/
.env
.cache
/logs/
*.log
/public/**/build/
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
tsconfig.tsbuildinfo
junit.xml
.idea
.swc
storybook-static
