doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content="new boilerplate for react")
        title New Boilerplate
    body
        div#root
        script(type="text/javascript" src="/dist/runtime.js")
        script(type="text/javascript" src="/dist/vendors.js")
        script(type="text/javascript" src="/dist/bundle.js")