doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content="new boilerplate for react")
        meta(name="theme-color")
        title New Boilerplate
        link(rel="manifest" href="public/manifest.json")
    body
        #root
            | !{html}
        | !{scriptTags}