@font-face {
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../assets/fonts/Montserrat-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}