import loadable from '@loadable/component';

const <%= name %> = loadable(
	() => import(/* webpackChunkName: <%= name %> */'./<%= name %>),
	{
		fallback: <div>
			Loading...
		</div>
	}
);

export { <%= name %> }
