import loadable from '@loadable/component';

export const <%= name %> = loadable(
    () => import(/* webpackChunkName: <%= name %> */'./<%= name %>),
    {
        fallback: <div>Loading...</div>
    }
);
