doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content="new boilerplate for react")
        meta(name="theme-color")
        title New Boilerplate
        link(rel="manifest" href="public/manifest.json")
    body
        #root
            | !{markup}
        //- script.
        //-     if (!window.isSecureContext) {
        //-         console.log('SW need a secure context');
        //-     }
            
        //-     if ('serviceWorker' in navigator) {
        //-         addEventListener('load', function () {
        //-             navigator.serviceWorker.register('/sw.js').then(function () {
        //-                 console.log('SW registered');
        //-             }).catch(function (registrationError) {
        //-                 console.log('SW registration failed: ', registrationError);
        //-             });
        //-         });
        //-     }