doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        meta(name="description" content="new boilerplate for react")
        title New Boilerplate
    body
        div#root